.toolbar-row{
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  .logo-wrapper{
    display: inline-flex;
    align-items: center;
    .logo-icon{
      margin-right: 8px;
      font-size: 32px;
      width: 32px;
      height: 32px;
    }
  }
}
