@use '~@angular/material' as mat;
@include mat.core();
$angular-rehber-primary: mat.define-palette(mat.$cyan-palette);
$angular-rehber-accent: mat.define-palette(mat.$amber-palette, 500);
$angular-rehber-warn: mat.define-palette(mat.$red-palette, A200);
$angular-rehber-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-rehber-primary,
      accent: $angular-rehber-accent,
      warn: $angular-rehber-warn,
    ),
  )
);
@include mat.all-component-themes($angular-rehber-theme);

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background-color: rgba($color: #000, $alpha: 0.5);
}
