<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Kullanıcı Adı</mat-label>
    <input formControlName="username" matInput placeholder="Kullanıcı Adı" />
    <mat-error *ngIf="fieldHasError('username')">
      {{ getErrorMessage("username") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Şifre</mat-label>
    <input
      formControlName="password"
      matInput
      placeholder="Şifre"
      type="password"
    />
    <mat-error *ngIf="fieldHasError('password')">
      {{ getErrorMessage("password") }}
    </mat-error>
  </mat-form-field>
  <div class="navigation-link">
    <a [routerLink]="['/auth/register']">Üye Ol</a>
  </div>
  <div class="auth-button">
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
      Giriş
    </button>
  </div>
</form>
