<h2 mat-dialog-title class="alert-title">{{ alertData?.title }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="alert-body">
    {{ alertData?.body }}
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <ng-container *ngIf="!alertData?.hideCancelButton">
    <button
      mat-raised-button
      (click)="cancel()"
      [color]="alertData?.cancelButtonColor || 'warn'"
    >
      {{ alertData?.cancelButtonText || "Kapat" }}
    </button>
  </ng-container>
  <button
    mat-raised-button
    (click)="confirm()"
    [color]="alertData?.confirmButtonColor || 'primary'"
  >
    {{ alertData?.confirmButtonText || "Tamam" }}
  </button>
</mat-dialog-actions>
