<mat-dialog-content class="mat-typography">
  {{ alertData?.body }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <ng-container *ngIf="!alertData?.hideCancelButton">
    <button
      mat-raised-button
      mat-dialog-close
      [color]="alertData?.confirmButtonColor || 'warn'"
    >
      {{ alertData?.cancelButtonText || "Kapat" }}
    </button>
  </ng-container>
  <button
    mat-raised-button
    (click)="confirm()"
    [color]="alertData?.confirmButtonColor || 'primary'"
  >
    {{ alertData?.confirmButtonText }}
  </button>
</mat-dialog-actions>
